.main {
  height: 100%;
  width: 100%;
}

.header {
  height: 45vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.title {
  margin: 0 auto;
  text-align: center;
  font-size: 6em;
  color: black;  
  opacity: .8;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 10%;
  margin: 0 auto;
}

.content {
  color: black;
  /* background-color: #202020; */
  background-color: rgba(0, 0, 0, .35);
  backdrop-filter: blur(50px);
  box-shadow: inset 1px 1px 1px 0 hsla(0,0%,100%,.1),50px 50px 100px -20px rgba(50,50,93,.25),30px 30px 60px -30px rgba(0,0,0,.3);
  border-radius: 20px;
  width: 75vw;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 30vh;
  right: 0;
  left: 0;
  max-width: 2040px;
  max-height: 70%;
}

.quote {
  font-size: 3.5em; 
  opacity: 0.8;
  text-align: center;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 10%;
  padding-bottom: 0;
}

.info {
  width: 75em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.anime {
  font-size: 2.5em;
  margin-left: 2vw;
  margin-right: 2vw;
}

#gradient-canvas {
  width: 100%;
  height: 50vh;
  --gradient-color-1: #fa924d; 
  --gradient-color-2: #f34c43; 
  --gradient-color-3: #d93c4f;  
  --gradient-color-4: #f8a182;
}
